assets/
becaups/
backups/
becup/
crash-reports/
/libraries
logs/
saves/
screenshots/
versions/
config/openloader/resources/ThePixelmonOST.zip

/backups/
/firstfloor
/game.iml
/options.txt
/optionsof.txt
/patchouli_data.json
/rhino.local.properties
/servers.dat
/servers.dat.bak
/usercache.json
/usernamecache.json
